section.radio
  .radio-title Seoski radio
  .radio-player
    .song-title Symphony No. 9 in D Minor, Op. 125 "Choral": IV. Presto - Allegro assai - Choral Finale (Ode to Joy)
    .song-info
      .artist Konan
      .album Pobjede
      .genre Rok
    .song-play
      .time-elapsed 01:12
      .progress-bar
        .progress
      .time-total 02:44