header.header-bar
  .app-box
    a(href='')
      .app-name FM Radio
    .app-descr 99.4 MHz
  .user-box
    .user-name-box
      i.material-icons.user-icon account_circle
      .user-name
        | Mirko Horvat
        span.user-type administrator
nav.nav-bar
  .nav-bar-top-spacer
  ul
    li.nav-option-group( *ngFor="#group of navigation" )
      .nav-option-group
      .nav-option-group-name {{ group.Croatian }}
      ul
        li.option-group-item( [routerLink]='[comp.componentName]' )( *ngFor="#comp of group.components" )
          | {{comp.Croatian}}
    li.nav-option-group
      .nav-option-group-name Odjavi se

router-outlet