.container
  header.header
    div.brand SARTz
    .user-options
      | <div [router-link]=["/Listen"]>Listen</div>
      | <div [router-link]=["/Settings"]>Settings</div>
      | <div [router-link]=["/Wishlist"]>Wishlist</div>
  router-outlet