.center-area
  header.center-header
    .view-path Odlučuj o zahtjevima
  .center-content
    header.content-header
      .content-header-left
        .content-header-title Zahtjevi za terminima
        .content-header-subtitle
          | Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .content-header-right
        i.material-icons.icon event
    ul.content-primary.content-list
      li.content-list-item.request-item
        .content-list-item-content
          .content-list-item-name Pon, uto, sri, čet, sub — 17:00
          .content-list-item-data
            .content-list-item-data-item.request-editor Mirko Horvat
            .content-list-item-data-item.request-date-interval 03.01.16 – 03.02.16
            .content-list-item-data-item.request-collisions-negative Nema preklapanja
        .content-list-item-options.editable-ui
          button
            i.material-icons check
          button.alt
            i.material-icons clear
      li.content-list-item.request-item
        .content-list-item-content
          .content-list-item-name Petak — 11:00
          .content-list-item-data
            .content-list-item-data-item.request-editor Slavko Kovač
            .content-list-item-data-item.request-date-interval 14.02.16
            .content-list-item-data-item.request-collisions-negative Nema preklapanja
        .content-list-item-options.editable-ui
          button
            i.material-icons check
          button.alt
            i.material-icons clear
      li.content-list-item.request-item
        .content-list-item-content
          .content-list-item-name Pon, čet — 17:00
          .content-list-item-data
            .content-list-item-data-item.request-editor Cheng Pong Ping Lee
            .content-list-item-data-item.request-date-interval 10.01.16
            .content-list-item-data-item.request-collisions-positive Postoji preklapanje
        .content-list-item-options.editable-ui
          button(disabled='')
            i.material-icons check
          button.alt
            i.material-icons clear
      li.content-list-item.request-item
        .content-list-item-content
          .content-list-item-name Uto, čet — 05:00
          .content-list-item-data
            .content-list-item-data-item.request-editor Janko Strižić
            .content-list-item-data-item.request-date-interval 01.01.16 – 01.01.17
            .content-list-item-data-item.request-collisions-negative Nema preklapanja
        .content-list-item-options.editable-ui
          button
            i.material-icons check
          button.alt
            i.material-icons clear
  .center-side
    .center-side-header
      .center-side-title Raspored emitiranja
      .center-side-subtitle Pregledajte trenutni raspored emitiranja po danima
    .center-side-content
      .calendar-daily.daily-schedule Kalendar
