.schedule-box
    h1 Raspored emitiranja
    ul.schedule
        li.schedule-item( '*ngFor' = '#item of items' )
            .item-time {{ item.timeString() }}
            .item-editor {{ item.editor }}
