
header.header-bar
  .app-box
    a(href='')
      .app-name FM Radio
    .app-descr 99.4 MHz
  .user-box
    .user-name-box
      i.material-icons.user-icon account_circle
      .user-name
        | Mirko Horvat
        span.user-type administrator
  router-outlet