nav.nav-bar
  .nav-bar-top-spacer
  ul {{navigation[0].Croatian}}
    li.nav-option-group( '*ngFor'="#group of navigation" )
      a( '*ngIf'="group.hasLink" '[routerLink]'="[group.link.name]" )
        .nav-option-group-name
          | {{ group.Croatian }}
      .nav-option-group-name( '*ngIf'="!group.hasLink" )
        | {{ group.Croatian }}
      ul
        a( '[routerLink]'="[comp.name]" '*ngFor'="#comp of group.components" '[ngClass]'="{displayNone: comp.hidden}" )
          li.option-group-item
            | {{ comp.Croatian }}
    li.nav-option-group
      a(href='/user/auth/signout')
        .nav-option-group-name Odjavi se
