.container
  nav.navbar.navbar-default
    .container-fluid
      div
        ul.nav.navbar-nav
          li
            a([router-link]="['/Listen']").link Listen
          li
            a([router-link]="['/Settings']").link Wishlist
          li
            a([router-link]="['/Wishlist']").link Settings
router-outlet
