header.header-bar('[ngClass]'='{unfixed : !isFixed, "logged-in" : isLoggedIn, "not-logged-in" : !isLoggedIn}')
  .app-box
    .app-name
      a( href = '/' )
        img( src = "/src/static/img/logo.png" alt="FM Radio" )
  .user-box
    .user-form-box
      form.row('[ngFormModel]'="loginForm.group" '(ngSubmit)'="onSubmit(loginForm.group.value)")
        input(type='email', id='email', placeholder='E-mail' '[ngFormControl]'="loginForm.group.controls['email']" )
        input(type='password', id='password', placeholder='Lozinka' '[ngFormControl]'="loginForm.group.controls['password']" )
        button(type='submit') Prijavi se
        button.dim(type='button') Registriraj se
    .user-name-box
      a( '[routerLink]' = "['/Settings', 'AccountPassword']" )
        i.material-icons.user-icon settings
      .user-name
        | Mirko Horvat
        span.user-type administrator
