.center-area
  header.center-header
    .view-path Upravljaj korisnicima
  .center-content
    header.content-header
      .content-header-left
        .content-header-title Korisnici
        .content-header-subtitle
          | Pregledajte i uredite
          | podatke korisnika ove radiopostaje. Na popisu se nalaze svi korisnici
          | sustava, osim drugih administratora i vlasnika.
      .content-header-right
        i.material-icons.icon group
    ul.content-primary.content-list
      li.content-list-item
        .content-list-item-content
          .content-list-item-name Mirko Horvat
          .content-list-item-data
            .content-list-item-data-item.user-account-type Korisnik
            .content-list-item-data-item.user-age 48 godina
            .content-list-item-data-item.user-occupation Vodoinstalater
            .content-list-item-data-item.user-mail mhorvat@mail.com
        .content-list-item-options
          button.alt
            i.material-icons clear
          button.dim
            i.material-icons edit
      li.content-list-item
        .content-list-item-content
          .content-list-item-name Slavko Kovač
          .content-list-item-data
            .content-list-item-data-item.user-account-type Urednik
            .content-list-item-data-item.user-age 36 godina
            .content-list-item-data-item.user-occupation Autolimar
            .content-list-item-data-item.user-mail skovac@mail.com
        .content-list-item-options
          button.alt
            i.material-icons clear
          button.dim
            i.material-icons edit
      li.content-list-item
        .content-list-item-content
          .content-list-item-name Cheng Pong Ping Lee
          .content-list-item-data
            .content-list-item-data-item.user-account-type Korisnik
            .content-list-item-data-item.user-age 27 godina
            .content-list-item-data-item.user-occupation Sportaš
            .content-list-item-data-item.user-mail pongping@mail.com
        .content-list-item-options
          button.alt
            i.material-icons clear
          button.dim
            i.material-icons edit
      li.content-list-item
        .content-list-item-content
          .content-list-item-name Janko Strižić
          .content-list-item-data
            .content-list-item-data-item.user-account-type Korisnik
            .content-list-item-data-item.user-age 25 godina
            .content-list-item-data-item.user-occupation Pastir
            .content-list-item-data-item.user-mail jstrizic@mail.com
        .content-list-item-options
          button.alt
            i.material-icons clear
          button.dim
            i.material-icons edit
