<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8"/>
    <title>Zahtjev odbijen</title>
</head>
<body>
    <header class = "main">
        <h1>Zahtjev odbijen</h1>
    </header>
    <div class = "main-content">
        <h2>Vaš zahtjev za terminima</h2>
        <p>Vrijeme: <b>{{ time }}</b><br/>
        Dani: <b>{{ days }}</b><br/>
        Početni datum: <b>{{ start_date }}</b><br/>
        Završni datum: <b>{{ end_date }}</b><br/><br/>
        je <b>odbijen.</b>
        </p>
    </div>
</body>
</html>
