.center-area
  header.center-header
    .view-path Uredi zvučne zapise
  .center-content
    header.content-header
      .content-header-left
        .content-header-title Zvučni zapisi
        .content-header-subtitle
          | Pregledajte i uređujte
          | postojeće te dodajte nove zvučne zapise u sustav radiopostaje,
          | čime omogućujete urednicima da ih reproduciraju u programu postaje.
      .content-header-right
        i.material-icons.icon library_music
    nav.content-options
      button Dodaj zvučni zapis
    ul.content-primary.content-list
      li.content-list-item
        .content-list-item-content
          .content-list-item-name Violin Concerto No. 5: Tempo di minuetto
          .content-list-item-data
            .content-list-item-data-item.track-artist Wolfgang A. Mozart
            .content-list-item-data-item.track-album The Very Best of Mozart
            .content-list-item-data-item.track-year 2007
            .content-list-item-data-item.track-genre Klasična glazba
        .content-list-item-options
          button.alt
            i.material-icons clear
          button.dim
            i.material-icons edit
      li.content-list-item
        .content-list-item-content
          .content-list-item-name The Four Seasons, Op. 8, "Spring": Allegro
          .content-list-item-data
            .content-list-item-data-item.track-artist Antonio Vivaldi
            .content-list-item-data-item.track-album The 50 Greatest Pieces of Classical Music
            .content-list-item-data-item.track-year 1997
            .content-list-item-data-item.track-genre Klasična glazba
        .content-list-item-options
          button.alt
            i.material-icons clear
          button.dim
            i.material-icons edit
      li.content-list-item
        .content-list-item-content
          .content-list-item-name St. Matthew Passion, BWV 244: O Haupt voll Blut und Wunden
          .content-list-item-data
            .content-list-item-data-item.track-artist Johann Sebastian Bach
            .content-list-item-data-item.track-album The Very Best Of Bach
            .content-list-item-data-item.track-year 2005
            .content-list-item-data-item.track-genre Klasična glazba
        .content-list-item-options
          button.alt
            i.material-icons clear
          button.dim
            i.material-icons edit
      li.content-list-item
        .content-list-item-content
          .content-list-item-name Concerto No. 2
          .content-list-item-data
            .content-list-item-data-item.track-artist Niccolo Paganini
            .content-list-item-data-item.track-album Nepoznati album
            .content-list-item-data-item.track-year 2004
            .content-list-item-data-item.track-genre Klasična glazba
        .content-list-item-options
          button.alt
            i.material-icons clear
          button.dim
            i.material-icons edit
