.header-bar
  .app-box.row
    .app-name FM Radio
    .app-descr 99.4 MHz
  .user-box.row
    .user-form-box
      form.row('[ngFormModel]'="loginForm.group" '(ngSubmit)'="loginForm.onSubmit(loginForm.group.value)")
        input(type='email', id='email', placeholder='E-mail' '[ngFormControl]'="loginForm.group.controls['email']" )
        input(type='password', id='password', placeholder='Lozinka' '[ngFormControl]'="loginForm.group.controls['password']" )
        button(type='submit') Prijavi se
        button.dim(type='button') Registriraj se
    .user-name-box
      i.material-icons.user-icon account_circle
      .user-name
        | Mirko Horvat
        span.user-type administrator