nav.nav-bar
  .nav-bar-top-spacer
  ul
    li.nav-option-group( '*ngFor'="#group of navigation" )
      .nav-option-group
      .nav-option-group-name( '(click)'="hideGroup(group)" )
          | {{ group.Croatian }}
      ul( '[ngClass]'="{displayNone: !group.visible}" )
        li.option-group-item( '[routerLink]'="[comp.componentName]" '*ngFor'="#comp of group.components" )
          | {{ comp.Croatian }}
    li.nav-option-group
      a(href='/user/auth/signout')
        .nav-option-group-name Odjavi se
