@import "reset"

$base_font     :     "Open Sans"
$header_font   :     "Open Sans Condensed"

div, header, footer, section, article, aside, input, button
    box-sizing         :     border-box

body
    background         :     #eee
    color              :     #222
    font-family        :     $base_font
    font-size          :     16px
    line-height        :     1.5rem

.top-bar
    background         :     #fff
    border-bottom      :     1px solid #eaeaea
    height             :     3rem
    padding            :     0.75rem 1rem

.app-name
    float              :     left
    font-family        :     $header_font
    font-size          :     1.2rem
    font-weight        :     700

.app-descr
    border-left        :     2px solid #eaeaea
    color              :     #ccc
    float              :     left
    //font-family        :     $header_font
    font-size          :     1rem
    font-weight        :     300
    margin-left        :     0.75rem
    padding-left       :     0.75rem

.side-bar
    background         :     #fff
    bottom             :     0
    position           :     absolute
    top                :     3rem
    width              :     16rem

.side-title
    background         :     #09f
    height             :     3rem
    width              :     100%

.option-groups li
    padding            :     1rem 0

.option-group-name
    color              :     #555
    font-family        :     $header_font
    font-size          :     1.1rem
    padding            :     0.5rem 1rem

.option-group-items li
    color              :     #999
    font-family        :     $header_font
    //font-size          :     0.9rem
    padding            :     0.25rem 1rem 0.25rem 2rem

.center
    margin-left        :     16rem

.center-header
    background         :     #07f
    color              :     #fff
    font-family        :     $header_font
    font-size          :     1.25rem
    height             :     3rem
    padding            :     0.75rem 2rem

.center-content
    //border             :     1px solid #ddd
    float              :     left
    height             :     30rem
    margin             :     2rem 5rem
    width              :     48rem

.content-header
    padding            :     0 0 2rem 0

.content-main
    background         :     #fff
    box-shadow         :     0 0 4px 0 rgba( 0, 0, 0, 0.05 )

.track-item
    border-bottom      :     1px solid #eaeaea
    padding            :     1rem 1.5rem

.track-title
    font-size          :     1.5rem
    font-weight        :     300
    line-height        :     2.5rem

.center-side
    //border             :     1px solid #ddd
    float              :     left
    height             :     30rem
    margin             :     2rem 0
    padding            :     1rem 1.5rem
    width              :     20rem0
